@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{

    <p>Welcome --- register</p>
    <div class="form-group row">
        <br />
        <form action="register" method="post">
            <br /><br />
            <input class="col-lg-2" type="text" name="username" placeholder="Username" /><br /><br />
            <input class="col-lg-2" type="text" name="email" placeholder="Email" /><br /><br />
            <input class="col-lg-2" type="number" name="account_id" placeholder="Account id" /><br /><br />
            <input class="col-lg-2" type="password" name="password" placeholder="Password" /><br /><br />

            <input class="col-lg-1" type="submit" value="Register" /><br /><br />
        </form><br /><br />
        <a href="Login">Login</a>
    </div>


}
