@{
    
        <p>Welcome please register</p>
        <div><br />
            <form action="register" method="post"><br /><br />
                <input type="text" name="username" /><br /><br />
                <input type="text" name="email" /><br /><br />
                <input type="number" name="account_id" /><br /><br />
                <input type="password" name="password" /><br /><br />

                <input type="submit" value="Register" /><br /><br />
            </form><br /><br />
            <a href="/login_get">Login</a>
        </div>


}
